{% extends "Accueil/base.html" %}
{% load static %}
{% block title %} Historique Paiement {% endblock title%}
{% block content %}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Historique des Paiements</h4>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            
               

            <div class="row">
                <div class="col-lg-12">
                    <div class="card" id="ticketsList">
                        <div class="card-header border-0">
                            <div class="d-flex align-items-center">
                                <h5 class="card-title mb-0 flex-grow-1">Paiements </h5>
                               
                            </div>
                        </div>
                        <div class="card-body border border-dashed border-end-0 border-start-0">
                            <form>
                                <div class="row g-3">
                                    <div class="col-xxl-5 col-sm-12">
                                        <div class="search-box">
                                            <input type="text" class="form-control search bg-light border-light" placeholder="Chercher un consultation...">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-3 col-sm-4">
                                        <input type="text" class="form-control bg-light border-light" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" id="demo-datepicker" placeholder="Sélectionner la date ">
                                    </div>
                                    <!--end col-->
                                    

                                    
                                    
                                    
                                    <div class="col-xxl-1 col-sm-4">
                                        <button type="button" class="btn btn-primary w-100" onclick="SearchData();"> <i class="ri-equalizer-fill me-1 align-bottom"></i>
                                            Filtres
                                        </button>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                        <!--end card-body-->
                        <div class="card-body">
                            <div class="table-responsive table-card mb-4">
                                <table class="table align-middle table-nowrap mb-0" id="ticketTable">
                                    <thead>
                                        <tr>
                                           
                                            <th class="sort" data-sort="id">ID</th>
                                            <th class="sort" data-sort="create_date">Date </th>
                                            <th class="sort" data-sort="client_name">Payé</th>
                                            <th class="sort" data-sort="status">Status</th>
                                         
                                         
                                        </tr>
                                    </thead>
                                    <tbody class="list form-check-all" id="ticket-list-data">
                                      
                                    </tbody>
                                </table>
                                <div class="noresult" style="display: none">
                                    <div class="text-center">
                                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                        </lord-icon>
                                        <h5 class="mt-2">Désolé! Aucun résultat trouvé</h5>
                                        <p class="text-muted mb-0">Nous avons cherché et nous n'avons pas trouvé le paiement pour vous recherche.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mt-2">
                                <div class="pagination-wrap hstack gap-2">
                                    <a class="page-item pagination-prev disabled" href="#">
                                        Précédent
                                    </a>
                                    <ul class="pagination listjs-pagination mb-0"></ul>
                                    <a class="page-item pagination-next" href="#">
                                        Suivant
                                    </a>
                                </div>
                            </div>

                            
                        </div>
                        <!--end card-body-->
                    </div>
                    <!--end card-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            
            

        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const pathArray = window.location.pathname.split('/');
            const token = pathArray[pathArray.length - 2];  // Assumed token is second last in the URL path
        
            fetch(`/planning/getpaiementHistorique/${token}/`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    console.error('Failed to fetch payment data:', data.error);
                    return;
                }
        
                const paymentList = document.getElementById('ticket-list-data');
                data.forEach(payment => {
                    const row = document.createElement('tr');
        
                    const dateCell = document.createElement('td');
                    dateCell.textContent = new Date(payment.date).toLocaleDateString();  // Format date as needed
        
                    const amountCell = document.createElement('td');
                    amountCell.textContent = payment.montant.toLocaleString() + ' €';  // Assuming amount is in Euro
        
                    row.appendChild(dateCell);
                    row.appendChild(amountCell);
        
                    paymentList.appendChild(row);
                });
            })
            .catch(error => {
                console.error('Error loading payment data:', error);
            });
        });
        </script>
        
    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js'%}"></script>
    <script src="{% static 'assets/libs/node-waves/waves.min.js'%}"></script>
    <script src="{% static 'assets/libs/feather-icons/feather.min.js'%}"></script>
    <script src="{% static 'assets/js/pages/plugins/lord-icon-2.1.0.js'%}"></script>
    <script src="{% static 'assets/js/plugins.js'%}"></script>

    <!-- list.js min js -->
    <script src="{% static 'assets/libs/list.js/list.min.js'%}"></script>

    <!--list pagination js-->
    <script src="{% static 'assets/libs/list.pagination.js/list.pagination.min.js'%}"></script>

    <!-- titcket init js -->
    <script src="{% static 'assets/js/pages/ticketlist.init.js'%}"></script>

    <!-- Sweet Alerts js -->
    <script src="{% static 'assets/libs/sweetalert2/sweetalert2.min.js'%}"></script>

    <!-- App js -->
    <script src="{% static 'assets/js/app.js'%}"></script>

{% endblock content %}