{% load static %}
<!doctype html>
<html lang="en" data-layout="horizontal" data-topbar="dark" data-sidebar-size="lg" data-sidebar="light" data-sidebar-image="none" data-preloader="disable">

<head>
    <meta charset="utf-8" />
    <title>Créer Un compte | SPT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}">
    <!-- Layout config Js -->
    <script src="{% static 'assets/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Custom Css-->
    <link href="{% static 'assets/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- auth-page wrapper -->
    <div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">
        <div class="bg-overlay"></div>
        <!-- auth-page content -->
        <div class="auth-page-content overflow-hidden pt-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card overflow-hidden m-0">
                            <div class="row justify-content-center g-0">
                                <div class="col-lg-6">
                                    <div class="p-lg-5 p-4 auth-one-bg h-100">
                                        <div class="bg-overlay"></div>
                                        <div class="position-relative h-100 d-flex flex-column">
                                            <div class="mb-4">
                                                <a href="{% url 'landing' %}" class="d-block">
                                                    <img src="{% static 'assets/images/favicon.png' %}" alt="" height="35">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-lg-5 p-4">
                                        <div>
                                            <h5 class="text-primary">Créer un compte</h5>
                                        </div>
                                        <div class="mt-4">
                                            <form class="needs-validation" novalidate id="Registration">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="useremail" class="form-label">Email <span class="text-danger">*</span></label>
                                                    <input type="email" class="form-control" id="useremail" placeholder="Entrer l'adresse email" required>
                                                    <div class="invalid-feedback">
                                                        Veuillez saisir votre email.
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="fullname" class="form-label">Nom complet <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="fullname" placeholder="Entrer votre nom complet" required>
                                                    <div class="invalid-feedback">
                                                        Veuillez saisir le nom complet.
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="phone" class="form-label">Numéro de téléphone <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="phone" placeholder="Entrer votre numéro" required>
                                                    <div class="invalid-feedback">
                                                        Veuillez saisir le numéro de téléphone.
                                                    </div>
                                                </div>
                                               
                                               
                                                
                                                <div class="mb-3">
                                                    <label for="password-input" class="form-label">Mot de passe</label>
                                                    <div class="position-relative auth-pass-inputgroup">
                                                        <input type="password" class="form-control pe-5" id="password-input" placeholder="Entrer votre mot de passe" required>
                                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                                        <div class="invalid-feedback">
                                                            Veuillez saisir un mot de passe valide.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mt-4">
                                                    <button class="btn btn-success w-100" type="submit">Créer</button>
                                                    <!--request otp pour verification de phone au meme temps
                                                    qui prend email et phone comme champ de verification -->
                                                </div>
                                            </form>
                                            <!--Page Verification pour vérifier son numéro -->
                                        </div>
                                        <div class="mt-5 text-center">
                                            <p class="mb-0">Vous avez déjà un compte? <a href="{% url 'Patient' %}" class="fw-semibold text-primary text-decoration-underline">Se connecter</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0">&copy;
                                <script>document.write(new Date().getFullYear())</script> SPT.<i class="mdi mdi-heart text-danger"></i> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <!-- Custom script to handle form submission -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('Registration');
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                if (!form.checkValidity()) {
                    event.stopPropagation();
                    form.classList.add('was-validated');
                    return;
                }

                var formData = {
                    email: document.getElementById('useremail').value,
                    fullname: document.getElementById('fullname').value,
                    phone: document.getElementById('phone').value,
                    password: document.getElementById('password-input').value,
                    
                    
                };

                fetch('/create_account/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify(formData)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message) {
                        window.location.href = '/'; // Redirect to login page or wherever appropriate
                    } else {
                        alert('Error: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert(error);
                });
            });

            // Toggle password visibility
            document.getElementById('password-addon').onclick = function () {
                var passwordInput = document.getElementById('password-input');
                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text';
                    this.innerHTML = '<i class="ri-eye-off-fill align-middle"></i>';
                } else {
                    passwordInput.type = 'password';
                    this.innerHTML = '<i class="ri-eye-fill align-middle"></i>';
                }
            };

            // Function to get CSRF token
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
    </script>
</body>
</html>
