{% load static %}
<!doctype html>
<html lang="en" data-layout="horizontal" data-topbar="dark" data-sidebar-size="lg" data-sidebar="light" data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8" />
    <title>Agent | SPT </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png'%}">

    <!--Swiper slider css-->
    <link href="{% static 'assets/libs/swiper/swiper-bundle.min.css'%}" rel="stylesheet" type="text/css" />

    <!-- jsvectormap css -->
    <link href="{% static 'assets/libs/jsvectormap/css/jsvectormap.min.css'%}" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="{% static 'assets/js/layout.js'%}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'assets/css/custom.min.css'%}" rel="stylesheet" type="text/css" />


</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="layout-width">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box horizontal-logo">
                            <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                
                            </button>
                            <a class="navbar-brand" href="{% url 'landing' %}">
                                <img src="{% static 'assets/images/favicon.png' %}" class="card-logo card-logo-dark" alt="logo dark" height="35">
                                <img src="{% static 'assets/images/favicon.png' %}" class="card-logo card-logo-light" alt="logo light" height="35">
                            </a>
                        </div>
                           
                    </div>
    
                    <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon">
                        <span class="hamburger-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
    
                    <form class="app-search d-none d-md-block">
                        <div class="position-relative">
                            </div>
                        <div class="dropdown-menu dropdown-menu-lg" id="search-dropdown">
                            <div data-simplebar style="max-height: 320px;">
                               
                                 
                            </div>
    
                            <div class="text-center pt-3 pb-1">
                            </div>
                        </div>
                    </form>
                
                    
               
    
                <div class="d-flex align-items-center">
    
                    <div class="dropdown d-md-none topbar-head-dropdown header-item">
                        
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-search-dropdown">
                            <form class="p-3">
                                <div class="form-group m-0">
                                    
                                </div>
                            </form>
                        </div>
                    </div>
    

                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" data-toggle="fullscreen">
                        <i class='bx bx-fullscreen fs-22'></i>
                    </button>
                </div>

                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                        <i class='bx bx-moon fs-22'></i>
                    </button>
                </div>

                

                <div class="dropdown ms-sm-3 header-item topbar-user">
                    <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="d-flex align-items-center">
                            <img id='profileimage' class="rounded-circle header-profile-user" src=" " alt="Header Avatar"> <!--img user-->
                            <span class="text-start ms-xl-2">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">  <!--fullname user--></span>
                                <span class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text">Agent</span>
                            </span>
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <h6 id='fullname'class="dropdown-header">Welcome <!--affichage de username-->!</h6>
                        <a id='profile' class="dropdown-item" href="pages-profile.html"><i class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span class="align-middle">Profile</span></a>
                        <div class="dropdown-divider"></div>
                        <a id='logout' onclick="logout()" class="dropdown-item" href="auth-logout-basic.html"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Logout</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="{% url 'landing'%}" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static 'assets/images/favicon.png'%}" alt="" height="30">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'assets/images/favicon.png'%}" alt="" height="300">
                    </span>
                </a>

                <a href="{% url 'landing'%}" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static 'assets/images/favicon.png'%}" alt="" height="30">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'assets/images/favicon.png'%}" alt="" height="300">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">

                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                        <li class="nav-item">
                            <a id="accueilLink" class="nav-link menu-link" href="#" role="button">
                                <i class="bx bxs-dashboard"></i> <span >Actualité</span>
                                <!-- affiche page d'accueil -->
                            </a>
                            
                        </li> <!-- end Dashboard Menu -->
                        

                       
                        <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Pages</span></li>

                

                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#sidebarPages" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarPages">
                                <i class="bx bx-file"></i> <span data-key="t-pages">Consultations</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarPages">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a id='RDV'href="pages-starter.html" class="nav-link" data-key="t-starter"> Rendez-vous </a>
                                        <!-- affiche page grstion des rdv  -->
                                    </li>
                                    <li class="nav-item">
                                        <a id='APC' href="pages-team.html" class="nav-link" data-key="t-team"> APC </a>
                                        <!-- affiche page grstion des apc  -->
                                    </li>
                                    <li class="nav-item">
                                        <a id='GESPAY'href="pages-team.html" class="nav-link" data-key="t-team"> Paiement </a>
                                        <!-- affiche page grstion des paiements  -->
                                    </li>
                                </ul>
                            </div>
                        </li>

                                    <li class="nav-item">
                                        <a class="nav-link menu-link" href="#sidebarPages" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarPages">
                                            <i class="bx bx-file"></i> <span data-key="t-pages">Hopitale</span>
                                        </a>
                                        <div class="collapse menu-dropdown" id="sidebarPages">
                                            <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a id='SERV' href="pages-team.html" class="nav-link" data-key="t-team"> Services </a>
                                        <!-- affiche page grstion des services  -->
                                    </li>
                                    <li class="nav-item">
                                        <a id='GESSPES'href="pages-team.html" class="nav-link" data-key="t-team"> Spécialités </a>
                                        <!-- affiche page grstion des spécialités  -->
                                    </li>
                                    <li class="nav-item">
                                        <a id='GESMed' href="pages-team.html" class="nav-link" data-key="t-team"> Médecin </a>
                                        <!-- affiche page grstion des patients  -->
                                    </li>
                                    
                                    
                                </ul>
                            </div>
                        </li>

                        
                        <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-components">Components</span></li>



                        
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>

            <div class="sidebar-background"></div>
        </div>
        <!-- Left Sidebar End -->



        {% block content %}{% endblock %}




<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © SPT.
            </div>
           
        </div>
    </div>
</footer>
</div>
<!-- end main content-->

</div>
<!-- END layout-wrapper -->


<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
<i class="ri-arrow-up-line"></i>
</button>
<script src="{% static 'assets/js/app.js'%}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
     
        const pathArray = window.location.pathname.split('/');
        const token = pathArray[pathArray.length - 2];
        var url = `/accueil/getProfileAgent/${token}/`;
    
        // Fetch the profile data
        fetch(url)
        .then(function(response) {
            if (!response.ok) {
                throw new Error('Network response was not OK');
            }
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                alert(data.error);
            } else {
                var profileImage = document.getElementById('profileimage');
                profileImage.src = 'data:image/jpeg;base64,' + data.image;
                document.getElementById('fullname').textContent='welcom ! ' + data.username;
                // Display each piece of user data in an alert box
                //alert("Username: " + data.username);
                //alert("Email: " + data.email);
                //alert("Phone: " + data.phone);
                //alert("Full Name: " + data.fullname);
                //alert("Date of Birth: " + data.date_naiss);
                //alert("Gouvernorat: " + data.gouvernorat);
                //alert("Nationality: " + data.nationalite);
                //alert("Group: " + data.groupe);
                //alert("Grade: " + data.grade);
                //alert("Speciality: " + data.sepcialite);
                //alert("Service: " + data.service);
                //alert("Hospital: " + data.hopitale);
                //alert("Image (Base64): " + data.image);
            }
        })
        .catch(function(error) {
            console.error('Error fetching data:', error);
            alert('Failed to fetch profile data: ' + error.message);
        });
    });
    </script><!--end back-to-top-->
<script>
    
    document.addEventListener('DOMContentLoaded', function() {
        const pathArray = window.location.pathname.split('/');
        const token = pathArray[pathArray.length - 2];
        document.getElementById('accueilLink').href = `/accueil/pageaccueil/${token}/`;
        //document.getElementById('planningLink').href = `/planning/planingM/${token}/`;
        document.getElementById('profile').href = `/accueil/pageProfileA/${token}/`;
        document.getElementById('RDV').href = `/planning/GRDV/${token}/`;
        document.getElementById('APC').href = `/planning/GAPC/${token}/`;
        document.getElementById('SERV').href = `/accueil/GesServ/${token}/`;
        document.getElementById('GESSPES').href = `/accueil/GesSpec/${token}/`;
        document.getElementById('GESMed').href = `/accueil/GesMed/${token}/`;
        document.getElementById('GESPAY').href = `/planning/GPy/${token}/`;
    }),

        document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('logout').addEventListener('click', function(event) {
        event.preventDefault();  
        
        const pathArray = window.location.pathname.split('/');
        const token = pathArray[pathArray.length - 2];
        window.location.href = '/'; 
        fetch(`/logoutAgent/${token}/`, {
            
         method: 'POST',
             headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')  // Get CSRF token from cookies
             },
             body: JSON.stringify({token: token})
                     })
            .then(response => response.json())
            .then(data => {
             if (data.error) {
                 console.error('Logout failed:', data.error);
             } else {
                
                console.log('Logout successful:', data.message);
                window.location.href = ' '; }
            })
             .catch(error => console.error('Error during logout:', error));
});

// Function to get a cookie by name
function getCookie(name) {
let cookieValue = null;
 if (document.cookie && document.cookie !== '') {
const cookies = document.cookie.split(';');
for (let i = 0; i < cookies.length; i++) {
 const cookie = cookies[i].trim();
 if (cookie.substring(0, name.length + 1) === (name + '=')) {
cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
break;
}
}
}
return cookieValue;
}});
</script>
<!-- JAVASCRIPT -->
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'assets/libs/simplebar/simplebar.min.js'%}"></script>
<script src="{% static 'assets/libs/node-waves/waves.min.js'%}"></script>
<script src="{% static 'assets/libs/feather-icons/feather.min.js'%}"></script>
<script src="{% static 'assets/js/pages/plugins/lord-icon-2.1.0.js'%}"></script>
<script src="{% static 'assets/js/plugins.js'%}"></script>

<!-- apexcharts -->
<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js'%}"></script>

<!--Swiper slider js-->
<script src="{% static 'assets/libs/swiper/swiper-bundle.min.js'%}"></script>

<!-- Vector map-->
<script src="{% static 'assets/libs/jsvectormap/js/jsvectormap.min.js'%}"></script>
<script src="{% static 'assets/libs/jsvectormap/maps/world-merc.js'%}"></script>

<!-- Countdown js -->
<script src="{% static 'assets/js/pages/coming-soon.init.js'%}"></script>

<!-- Marketplace init -->
<script src="{% static 'assets/js/pages/dashboard-nft.init.js'%}"></script>

<!-- App js -->
<script src="{% static 'assets/js/app.js'%}"></script>
</body>

</html>