{% extends "Accueil/baseA.html" %}
{% load static %}
{% block title %} Profil {% endblock title%}
{% block content %}
<head>

    <!-- Layout config Js -->
    <script src="{% static 'assets/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'assets/css/custom.min.css' %}" rel="stylesheet" type="text/css" />


</head>
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <div class="position-relative mx-n4 mt-n4">
                <div class="profile-wid-bg profile-setting-img">
                    <img src="{% static 'assets/images/profile-bg.jpg'%}" class="profile-wid-img" alt="">
                    
                </div>
            </div>

            <div class="row">
                <div class="col-xxl-3">
                    <div class="card mt-n5">
                        <div class="card-body p-4">
                            <div class="text-center">
                                <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                                    <img id='image'src=" " class="rounded-circle avatar-xl img-thumbnail user-profile-image" alt="user-profile-image">
                                    <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                        <input id="profile-img-file-input" type="file" class="profile-img-file-input">
                                        <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                            <span class="avatar-title rounded-circle bg-light text-body">
                                                <i class="ri-camera-fill"></i>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <h5 id="agent_username" class="fs-16 mb-1"><!--username d'Agent--></h5>
                                <p class="text-muted mb-0">Agent </p>
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                </div>     
                    
                <!--end col-->
                <div class="col-xxl-9">
                    <div class="card mt-xxl-n5">
                        <div class="card-header">
                            <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link text-body active" data-bs-toggle="tab" href="#personalDetails" role="tab">
                                        <i class="fas fa-home"></i>
                                        Détails personnels
                                    </a>
                                </li>
                                

                                
                            </ul>
                        </div>
                        <div class="card-body p-4">
                            <div class="tab-content">
                                <div class="tab-pane active" id="personalDetails" role="tabpanel">
                                    <form  id="updateProfileForm" enctype="multipart/form-data" >
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="firstnameInput" class="form-label">Nom complet</label>
                                                    <input type="text" class="form-control" id="firstnameInput" placeholder="Entrez votre nom complet" value="">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="lastnameInput" class="form-label">Username</label>
                                                    <input type="text" class="form-control" id="lastnameInput" placeholder="Entrez votre username" value="">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="phonenumberInput" class="form-label">Numéro de téléphone</label>
                                                    <input type="text" class="form-control" id="phonenumberInput" placeholder="Entrez votre numéro" value="">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="emailInput" class="form-label">Email
                                                        Address</label>
                                                    <input type="email" class="form-control" id="emailInput" placeholder="Entrez votre email" value="">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="JoiningdatInput" class="form-label">Date de naissance </label>
                                                    <input id='date' type="text" class="form-control" data-provider="flatpickr" id="JoiningdatInput" data-date-format="d M, Y" data-deafult-date="" placeholder="Select date" />
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="skillsInput" class="form-label">Gouvernement</label>
                                                    <select  id='gouv' class="form-control" name="skillsInput" data-choices-removeItem  id="skillsInput">
                                                        <option value="Ariana">Ariana</option>
                                                        <option value="Béja">Béja</option>
                                                        <option value="Ben Arous">Ben Arous</option>
                                                        <option value="Bizerte">Bizerte</option>
                                                        <option value="Gabès">Gabès</option>
                                                        <option value="Gafsa">Gafsa</option>
                                                        <option value="Jendouba">Jendouba</option>
                                                        <option value="Kairouan">Kairouan</option>
                                                        <option value="Kasserine">Kasserine</option>
                                                        <option value="Kébili">Kébili</option>
                                                        <option value="Le Kef">Le Kef</option>
                                                        <option value="Mahdia">Mahdia</option>
                                                        <option value="La Manouba">La Manouba</option>
                                                        <option value="Médenine">Médenine</option>
                                                        <option value="Monastir">Monastir</option>
                                                        <option value="Nabeul">Nabeul</option>
                                                        <option value="Sfax">Sfax</option>
                                                        <option value="Sidi Bouzid">Sidi Bouzid</option>
                                                        <option value="Siliana">Siliana</option>
                                                        <option value="Sousse">Sousse</option>
                                                        <option value="Tataouine">Tataouine</option>
                                                        <option value="Tozeur">Tozeur</option>
                                                        <option value="Tunis">Tunis</option>
                                                        <option value="Zaghouan">Zaghouan</option>
                                                        <!--les options des gouvernerat présent dans la BD -->
                                                    </select>
                                                </div>
                                            </div>
                                            <!--end col-->
                                                                                <div class="mb-3">
                                        <select id="nationalite-select" class="form-control">
                                            <option value="">Select Nationality</option>
                                            <!-- Options will be populated by JavaScript -->
                                        </select>
                                    </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="designationInput" class="form-label">Addresse</label>
                                                    <input id='adresse' type="text" class="form-control" id="designationInput" placeholder="Designation" value="">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="websiteInput1" class="form-label">sexe</label>
                                                    <select class="form-control" name="skillsInput" option.selected = false data-choices-removeItem   id='sex'>
                                                        <option  value="homme" >homme</option>
                                                        <option value="femme" >femme</option>
                                                        
                                                    </select></div></div>
                                            </div>
                                            <!--end col-->
                                            
                                           
                                            <!--end col-->
                                            <div class="col-lg-12">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <button type="submit" class="btn btn-primary">Modifier</button>
                                                    <button type="button" class="btn btn-soft-success">Annuler</button>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </form>
                                    <!-- api de profil agent pour modifier ses données -->
                                </div>
                                <!--end tab-pane-->
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

        </div>
        <!-- container-fluid -->
    </div><!-- End Page-content -->

   
</div>
<!-- end main content-->

<script>
    document.getElementById('profile-img-file-input').addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = function(loadEvent) {
            const base64String = loadEvent.target.result;
            // Update the image source to the base64 string to display the selected image
            document.getElementById('image').src = base64String;
            // Optionally, you can send this base64String to a server or use it in any way required
        };
        reader.readAsDataURL(file); // This will trigger `onload` once done
    }
});
    
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;}
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
     
        const pathArray = window.location.pathname.split('/');
        const token = pathArray[pathArray.length - 2];
        var url = `/accueil/getProfileAgent/${token}/`;
    
        // Fetch the profile data
        fetch(url)
        .then(function(response) {
            if (!response.ok) {
                throw new Error('Network response was not OK');
            }
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                alert(data.error);
            } else {
                var profileImage = document.getElementById('image');
                profileImage.src = 'data:image/jpeg;base64,' + data.image;
                document.getElementById('firstnameInput').value = data.fullname || '';
                document.getElementById('lastnameInput').value = data.username || '';
                document.getElementById('phonenumberInput').value = data.phone || '';
                document.getElementById('emailInput').value = data.email || '';
                document.getElementById('date').value = data.date_naiss || '';
               
                document.getElementById('adresse').value = data.adresse || '';
               
                setSelectedOption(data.gouvernorat);
                setSelectedOptionsex(data.sex);
                
                function setSelectedOption(selectedValue) {
                const selectElement = document.getElementById('gouv');
                const options = selectElement.options;

                for (let i = 0; i < options.length; i++) {
                 if (options[i].value === selectedValue) {
                     options[i].selected = true;
                   
                     break;
                    }
                
    
    }}
    function setSelectedOptionsex(selectedValue) {
                const selectElement = document.getElementById('sex');
                const options = selectElement.options;

                for (let i = 0; i < options.length; i++) {
                 if (options[i].value === selectedValue) {
                     options[i].selected = true;
                   
                     break;
                    }
                }
            }

                //document.getElementById('grade').textContent = data.grade || '';
                //document.getElementById('agent').textContent = data.sexe|| '';
                //document.getElementById('gouv').value = data.gouvernorat || '';
                // Display each piece of user data in an alert box
                //alert("Username: " + data.username);
                //alert("Email: " + data.email);
                //alert("Phone: " + data.phone);
                //alert("Full Name: " + data.fullname);
                //alert("Date of Birth: " + data.date_naiss);
                //alert("Gouvernorat: " + data.gouvernorat);
                //alert("Nationality: " + data.nationalite);
                //alert("Group: " + data.groupe);
                //alert("Grade: " + data.grade);
                //alert("Speciality: " + data.sepcialite);
                //alert("Service: " + data.service);
                //alert("Hospital: " + data.hopitale);
                //alert("Image (Base64): " + data.image);
            }
        })
        .catch(function(error) {
            console.error('Error fetching data:', error);
            alert('Failed to fetch profile data: ' + error.message);
        });
    });
    </script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const updateForm = document.getElementById("updateProfileForm");
            updateForm.addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the default form submission
                const inputDate = document.getElementById('date').value;
                const dateObject = new Date(inputDate);
                const formattedDate = dateObject.toISOString().split('T')[0];
                const pathArray = window.location.pathname.split('/');
                const token = pathArray[pathArray.length - 2]; // Assuming token is the last part of the URL
                const imageElement = document.getElementById('image');
                const formData = {
                    username: document.getElementById('lastnameInput').value,
                    fullname: document.getElementById('firstnameInput').value,
                    phone: document.getElementById('phonenumberInput').value,
                    email: document.getElementById('emailInput').value,
                    date_nais: formattedDate,
                    gouvernorat: document.getElementById('gouv').value,
                    nationalite: document.getElementById('nationalite-select').value,
                    adresse: document.getElementById('adresse').value,
                    sexe: document.getElementById('sex').value,
                    image: imageElement.src.includes('base64') ? imageElement.src : null // Send image only if it's a base64 string
                };
        
                fetch(`/update_profile/${token}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken') // Fetch CSRF token using getCookie function
                    },
                    body: JSON.stringify(formData)
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    alert('Profile updated successfully!');
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Failed to update profile.');
                });
            });
        
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
        document.addEventListener('DOMContentLoaded', function() {
            const nationaliteSelect = document.getElementById('nationalite-select');
              
    fetch('/nationalites/')
        .then(response => response.json())
        .then(data => {
            data.forEach(item => {
                const option = new Option(item.nationalite, item.id);
                nationaliteSelect.appendChild(option);
            });
        })
        .catch(error => console.error('Error loading nationalities:', error));
});
        </script>
        
        

<!-- JAVASCRIPT -->
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'assets/libs/simplebar/simplebar.min.js'%}"></script>
<script src="{% static 'assets/libs/node-waves/waves.min.js'%}"></script>
<script src="{% static 'assets/libs/feather-icons/feather.min.js'%}"></script>
<script src="{% static 'assets/js/pages/plugins/lord-icon-2.1.0.js'%}"></script>
<script src="{% static 'assets/js/plugins.js'%}"></script>
<script src="{% static 'assets/libs/flatpickr/flatpickr.min.js'%}"></script>
<script src="{% static 'assets/libs/choices.js/public/assets/scripts/choices.min.js'%}"></script>
<!-- profile-setting init js -->
<script src="{% static 'assets/js/pages/profile-setting.init.js'%}"></script>

<!-- App js -->
<script src="{% static 'assets/js/app.js'%}"></script>

{% endblock content %}