{% load static %}
<!doctype html>
<html lang="en" data-layout="horizontal" data-topbar="dark" data-sidebar-size="lg" data-sidebar="light" data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8" />
    <title>Verification | SPT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png'%}">

    <!-- Layout config Js -->
    <script src="{% static 'assets/js/layout.js'%}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'assets/css/custom.min.css'%}" rel="stylesheet" type="text/css" />


</head>

<body>

    <!-- auth-page wrapper -->
    <div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">
        <div class="bg-overlay"></div>
        <!-- auth-page content -->
        <div class="auth-page-content overflow-hidden pt-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card overflow-hidden">
                            <div class="row justify-content-center g-0">
                                <div class="col-lg-6">
                                    <div class="p-lg-5 p-4 auth-one-bg h-100">
                                        <div class="bg-overlay"></div>
                                        <div class="position-relative h-100 d-flex flex-column">
                                            <div class="mb-4">
                                                <a href="{% url 'landing '%}" class="d-block">
                                                    <img src="{% static 'assets/images/favicon.png'%}" alt="" height="35">
                                                </a>    
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->

                                <div class="col-lg-6">
                                    <div class="p-lg-5 p-4">
                                        <div class="mb-4">
                                            <div class="avatar-lg mx-auto">
                                                <div class="avatar-title bg-light text-primary display-5 rounded-circle">
                                                    <i class="ri-mail-line"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-muted text-center mx-lg-3">
                                            <h4 class="">Vérification de votre téléphone</h4>
                                            <p>Veuillez saisir le code de 6 chiffres envoyé à <span class="fw-semibold">votre téléphone</span></p>
                                        </div>

                                        <div class="mt-4">
                                            <form autocomplete="off">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <div class="mb-3">
                                                            <label for="digit1-input" class="visually-hidden">Digit 1</label>
                                                            <input type="text" class="form-control form-control-lg bg-light border-light text-center" onkeyup="moveToNext(1, event)" maxLength="1" id="digit1-input">
                                                        </div>
                                                    </div><!-- end col -->
                                            
                                                    <div class="col-3">
                                                        <div class="mb-3">
                                                            <label for="digit2-input" class="visually-hidden">Digit 2</label>
                                                            <input type="text" class="form-control form-control-lg bg-light border-light text-center" onkeyup="moveToNext(2, event)" maxLength="1" id="digit2-input">
                                                        </div>
                                                    </div><!-- end col -->
                                            
                                                    <div class="col-3">
                                                        <div class="mb-3">
                                                            <label for="digit3-input" class="visually-hidden">Digit 3</label>
                                                            <input type="text" class="form-control form-control-lg bg-light border-light text-center" onkeyup="moveToNext(3, event)" maxLength="1" id="digit3-input">
                                                        </div>
                                                    </div><!-- end col -->
                                            
                                                    <div class="col-3">
                                                        <div class="mb-3">
                                                            <label for="digit4-input" class="visually-hidden">Digit 4</label>
                                                            <input type="text" class="form-control form-control-lg bg-light border-light text-center" onkeyup="moveToNext(4, event)" maxLength="1" id="digit4-input">
                                                        </div>
                                                    </div><!-- end col -->
                                                    <div class="col-3">
                                                        <div class="mb-3">
                                                            <label for="digit4-input" class="visually-hidden">Digit 5</label>
                                                            <input type="text" class="form-control form-control-lg bg-light border-light text-center" onkeyup="moveToNext(4, event)" maxLength="1" id="digit4-input">
                                                        </div>
                                                    </div><!-- end col -->
                                                    <div class="col-3">
                                                        <div class="mb-3">
                                                            <label for="digit4-input" class="visually-hidden">Digit 6</label>
                                                            <input type="text" class="form-control form-control-lg bg-light border-light text-center" onkeyup="moveToNext(4, event)" maxLength="1" id="digit4-input">
                                                        </div>
                                                    </div><!-- end col -->
                                                </div>

                                                <div class="mt-3">
                                                    <button type="button" class="btn btn-success w-100">Confirmer</button>
                                                
                                                </div>

                                            </form>
                                            <!--api verify otp dont verifier le code envoyer au téléphone
                                            et redirect vers page login de patient -->

                                        </div>

                                        <div class="mt-5 text-center">
                                            <p class="mb-0">Vous n'avez pas reçu de code? <a href="{% url Resend %}" class="fw-semibold text-primary text-decoration-underline">Resend</a> </p>
                                            <!--Page resend otp prend seulement le phone comme champ-->
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end auth page content -->

        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0">&copy;
                                <script>document.write(new Date().getFullYear())</script> SPT. <i class="mdi mdi-heart text-danger"></i> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>
    <!-- end auth-page-wrapper -->

    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js'%}"></script>
    <script src="{% static 'assets/libs/node-waves/waves.min.js'%}"></script>
    <script src="{% static 'assets/libs/feather-icons/feather.min.js'%}"></script>
    <script src="{% static 'assets/js/pages/plugins/lord-icon-2.1.0.js'%}"></script>
    <script src="{% static 'assets/js/plugins.js'%}"></script>

    <!-- two-step-verification js -->
    <script src="{% static 'assets/js/pages/two-step-verification.init.js'%}"></script>

    <script>
        function moveToNext(currentInputIndex, event) {
            const currentInput = document.getElementById(`digit${currentInputIndex}-input`);
            if (currentInput.value.length === 1) {
                const nextInputIndex = currentInputIndex + 1;
                const nextInput = document.getElementById(`digit${nextInputIndex}-input`);
                if (nextInpu) {
                    nextInput.focus();
                }
            }
        }

        function submitOTP() {
            const phone = formData.phone; 
            const otp = [
                document.getElementById('digit1-input').value,
                document.getElementById('digit2-input').value,
                document.getElementById('digit3-input').value,
                document.getElementById('digit4-input').value,
                document.getElementById('digit5-input').value,
                document.getElementById('digit6-input').value
            ].join('');

            fetch('/verify_otp/', { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken') 
                },
                body: JSON.stringify({ phone: phone, otp: otp })
            })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'otp_verified successfully') {
                    alert('OTP verified successfully!');
                    window.location.href = '/Patient/'; 
                } else {
                    alert(`Error: ${data.error}`);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while verifying the OTP.');
            });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</body>

</html>